*{
  margin: 0;
  padding: 0;
}

body{
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container{
  width: 95vw;
  margin: 0 auto;
  height: 100vh;
  text-align: center;
  background-color: aliceblue;
}

.titulo{
  padding: 10vh 0;
}

.container-temporizador{
  /* background-color: red; */
  display: flex;
  padding: 30px;
  font-size: 30px;
}
.container-counter{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100px;
  margin: 0 auto;
}

.button{
  padding: 5px 20px;
  display: inline-block;
  border: none;
  text-transform: uppercase;
  background-color: black;
  color:whitesmoke;
  font-weight: 700;
  border-radius: 3px;
  box-shadow: 5px 5px 8px rgba(0,0,0,.2);
}
.button:hover{
  cursor: pointer;
  background-color: #555;
  transform: translateY(3px);
  box-shadow: none;
}

.button-sumar{
  margin: 20px 0;
}

.button-restar{
  margin: 20px 0;
}



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input{
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 30px;
  border: none;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.disable{
  opacity: 0.5;
  background-color: grey;
  box-shadow: none;

}
.disable:hover{
  transform: none;
  background-color: grey;
  box-shadow: none;

}